{{!-- Home Page --}}
<div id="headline" class="row blue darken-1">
    <div class="col s12 m6">
        <h5>Welcome to ActoLab, partner in your analog photography hobby.</h5>
        <a href="/auth/login" class="btn yellow accent-4">
            <i class="fas fa-paper-plane"></i> Log In
        </a>
    </div>
    <div class="col s12 m6">
        <img src="/images/Octocat.png" class="logo" alt="octolab-logo">
    </div>
</div>

<div id="achievement" class="row red darken-2">
    <h5 class="center-align">
        Lorem Ipsum
    </h5>
    <div class="col s12 m4">
        1
    </div>
    <div class="col s12 m4">
        2
    </div>
    <div class="col s12 m4">
        3
    </div>
</div>

<div id="address" class="row green darken-2">
    <h5 class="center-align">
        Address
    </h5>
    <div class="col s12 m6">
        Map
    </div>
    <div class="col s12 m6">
        Address
    </div>
</div>
