<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.ebayimg.com/00/s/MjQ1WDMwMA==/z/hSIAAOSwPhdU1ZOI/$_35.JPG?set_id=2" alt="..." class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, aut. Tempore eligendi blanditiis voluptas cupiditate quos laboriosam dignissimos animi quo delectus sint. Enim autem inventore quis hic eaque aliquam deserunt?</p>
        <div class="clearfix">
            <div class="price pull-left">$100</div>
            <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.ebayimg.com/00/s/MjQ1WDMwMA==/z/hSIAAOSwPhdU1ZOI/$_35.JPG?set_id=2" alt="..." class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, aut. Tempore eligendi blanditiis voluptas cupiditate quos laboriosam dignissimos animi quo delectus sint. Enim autem inventore quis hic eaque aliquam deserunt?</p>
        <div class="clearfix">
            <div class="price pull-left">$100</div>
            <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.ebayimg.com/00/s/MjQ1WDMwMA==/z/hSIAAOSwPhdU1ZOI/$_35.JPG?set_id=2" alt="..." class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, aut. Tempore eligendi blanditiis voluptas cupiditate quos laboriosam dignissimos animi quo delectus sint. Enim autem inventore quis hic eaque aliquam deserunt?</p>
        <div class="clearfix">
            <div class="price pull-left">$100</div>
            <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.ebayimg.com/00/s/MjQ1WDMwMA==/z/hSIAAOSwPhdU1ZOI/$_35.JPG?set_id=2" alt="..." class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, aut. Tempore eligendi blanditiis voluptas cupiditate quos laboriosam dignissimos animi quo delectus sint. Enim autem inventore quis hic eaque aliquam deserunt?</p>
        <div class="clearfix">
            <div class="price pull-left">$100</div>
            <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.ebayimg.com/00/s/MjQ1WDMwMA==/z/hSIAAOSwPhdU1ZOI/$_35.JPG?set_id=2" alt="..." class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, aut. Tempore eligendi blanditiis voluptas cupiditate quos laboriosam dignissimos animi quo delectus sint. Enim autem inventore quis hic eaque aliquam deserunt?</p>
        <div class="clearfix">
            <div class="price pull-left">$100</div>
            <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.ebayimg.com/00/s/MjQ1WDMwMA==/z/hSIAAOSwPhdU1ZOI/$_35.JPG?set_id=2" alt="..." class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, aut. Tempore eligendi blanditiis voluptas cupiditate quos laboriosam dignissimos animi quo delectus sint. Enim autem inventore quis hic eaque aliquam deserunt?</p>
        <div class="clearfix">
            <div class="price pull-left">$100</div>
            <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div>