{{!-- DASHBOARD --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    {{!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>OctoLab | Dashboard</title>
</head>
<body>

    {{> _header.user}}

    <main>
        <div class="container dashboard">
            {{> _message}}
            {{{body}}}
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
    <script>
        // Side menu
        $('.button-collapse').sideNav();

        // Modal
        $('.modal').modal();            // initialize
        $('.change-password').modal();    // open modal

        // Change user image
        $('input#upload-user-img').on('change', function() {
            $('#image-change').html('<div class="alert alert-success"><i class="fas fa-check-circle"></i> Image has ben selected, click Save button to save the changes</div>');
        });

        // Add fields for order detail
        let wrapper = $('#order-detail-field');
        let next = 1;
        $(wrapper).on('click', '.add-field', function(e) {
            e.preventDefault();

            $(this).replaceWith('<button data-items="' + next + '" class="btn red darken-1 remove-field"><i class="fas fa-minus"></i></button>')

            next = next + 1;
            $(wrapper).append('<tr id="field' + next + '"><td><div class="input-field"><input type="text" name="detailFilm" required></div></td><td><div class="input-field"><input type="number" min="0" name="detailQuantity" required></div></td><td><div class="input-field"><input type="text" name="detailInstruction" required></div></td><td><div class="input-field"><input type="text" name="detailNote"></div></td><td><div class="input-field"><button class="add-field btn"><i class="fas fa-plus"></i></button></div></td></tr>');
        })

        $(wrapper).on('click', '.remove-field', function(e) {
            e.preventDefault();
            let num = $(this).attr('data-items');
            console.log('field num : ' + num);
            let field = "#field" + num;
            $(field).remove();
        });

        // CKEDitor
        CKEDITOR.replace('textarea1', {
            plugins: 'wysiwygarea, toolbar, basicstyles, link'
        });

        // Tooltip
        $(document).ready(function(){
            $('.tooltipped').tooltip();
        });

    </script>
</body>
</html>
