//- Navigation for dashboard
nav.navbar.navbar-default
    .container-fluid

        .navbar-header
            button#sidebarCollapse.btn.btn-action.navbar-btn(type="button")
                i.glyphicon.glyphicon-menu-hamburger
                
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="#") Page
                li
                    a(href="#") Page
                li
                    a(href="#") Page
                li
                    a(href="#") Page
                    