extends ../layouts/layout

block content
    main#signup
        .container
            .row
                .col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3
                    h1 Sign Up

                    if (hasErrors)
                        .alert.alert-danger
                            each message in messages
                                span.error
                                    i.fa.fa-times(aria-hidden="true")= message
                            
                    .panel.panel-default
                        .panel-body
                            form(action="#", method="post")
                                .form-group
                                    label(for="name") Nama
                                    input(type="text", name="name", id="name", class="form-control", required)
                                .form-group
                                    label(for="birth_date") Tanggal Lahir
                                    .input-group.date(data-date="", data-date-format="dd-mm-yyyy")
                                        input(type="text", name="birth_date", id="birth_date", class="form-control", readonly="readonly")
                                        span.input-group-addon
                                            i.glyphicon.glyphicon-calendar
                                .form-group
                                    label(for="gender") Jenis Kelamin
                                    #gender
                                        label.radio-inline
                                            input(type="radio" name="gender" value="Laki-laki") 
                                            span Laki-laki
                                        label.radio-inline
                                            input(type="radio" name="gender" value="Perempuan")
                                            span Perempuan
                                        //- input(type="text", name="gender", id="gender", class="form-control", required)
                                .form-group
                                    label(for="address") Alamat
                                    input(type="text", name="address", id="address", class="form-control", required)
                                .form-group
                                    label(for="phone_number") Nomor Telepon
                                    input(type="text", name="phone_number", id="phone_number", class="form-control", required)
                                .form-group
                                    label(for="job") Profesi
                                    input(type="text", name="job", id="job", class="form-control")
                                .form-group
                                    label(for="email") Email
                                    input(type="email", name="email", id="email", class="form-control", required)
                                .form-group
                                    label(for="password") Password
                                    input(type="password", name="password", id="password", class="form-control", required)
                                .form-group
                                    label(for="profile_pict") Foto Profil
                                    input(type="text", name="profile_pict", id="profile_pict", class="form-control")
                                input(type="submit", value="Sign Up", class="btn btn-block btn-action")
                    .panel.panel-default
                        .panel-body
                            p Sudah memiliki akun? 
                                a(href="/user/signin") Sign In
