extends ../layouts/layout

block content
    nav
        include ../fragment/navigation
    main#workshop-page
        section.landing-header.main-color
            .container
                .row
                    //- still empty
        
        section.content-list
            .container
                h1.subtitle Workshop

                .row
                    .col-lg-4.col-md-4.col-xs-12
                        .thumbnail
                            img.image-responsive(src="#" alt="Event Image")
                            .caption
                                h3 Event Name
                                .event-info
                                    i.fa.fa-clock-o(aria-hidden="true")  25 Agustus 2018 18:00 - 21:00
                                    i.fa.fa-map-marker(aria-hidden="true")  WorkSpace Event Room
                                .clearfix
                                    .price.pull-left Free
                                    a.btn.btn-action.pull-right(href="#" role="button") Detail

                    .col-lg-4.col-md-4.col-xs-12
                        .thumbnail
                            img.image-responsive(src="#" alt="Event Image")
                            .caption
                                h3 Event Name
                                .event-info
                                    i.fa.fa-clock-o(aria-hidden="true")  25 Agustus 2018 18:00 - 21:00
                                    i.fa.fa-map-marker(aria-hidden="true")  WorkSpace Event Room
                                .clearfix
                                    .price.pull-left Free
                                    a.btn.btn-action.pull-right(href="#" role="button") Detail
                    
                    .col-lg-4.col-md-4.col-xs-12
                        .thumbnail
                            img.image-responsive(src="#" alt="Event Image")
                            .caption
                                h3 Event Name
                                .event-info
                                    i.fa.fa-clock-o(aria-hidden="true")  25 Agustus 2018 18:00 - 21:00
                                    i.fa.fa-map-marker(aria-hidden="true")  WorkSpace Event Room
                                .clearfix
                                    .price.pull-left Free
                                    a.btn.btn-action.pull-right(href="#" role="button") Detail

                .row
                    .col-lg-4.col-md-4.col-xs-12
                        .thumbnail
                            img.image-responsive(src="#" alt="Event Image")
                            .caption
                                h3 Event Name
                                .event-info
                                    i.fa.fa-clock-o(aria-hidden="true")  25 Agustus 2018 18:00 - 21:00
                                    i.fa.fa-map-marker(aria-hidden="true")  WorkSpace Event Room
                                .clearfix
                                    .price.pull-left Free
                                    a.btn.btn-action.pull-right(href="#" role="button") Detail

                    .col-lg-4.col-md-4.col-xs-12
                        .thumbnail
                            img.image-responsive(src="#" alt="Event Image")
                            .caption
                                h3 Event Name
                                .event-info
                                    i.fa.fa-clock-o(aria-hidden="true")  25 Agustus 2018 18:00 - 21:00
                                    i.fa.fa-map-marker(aria-hidden="true")  WorkSpace Event Room
                                .clearfix
                                    .price.pull-left Free
                                    a.btn.btn-action.pull-right(href="#" role="button") Detail
                    
                    .col-lg-4.col-md-4.col-xs-12
                        .thumbnail
                            img.image-responsive(src="#" alt="Event Image")
                            .caption
                                h3 Event Name
                                .event-info
                                    i.fa.fa-clock-o(aria-hidden="true")  25 Agustus 2018 18:00 - 21:00
                                    i.fa.fa-map-marker(aria-hidden="true")  WorkSpace Event Room
                                .clearfix
                                    .price.pull-left Free
                                    a.btn.btn-action.pull-right(href="#" role="button") Detail


    footer
        include ../fragment/footer

