{{!-- Header --}}
<nav class="yellow accent-4">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">OctoLab</a>
            <a href="#" data-activates="main-menu" class="button-collapse">
                <i class="fas fa-bars"></i>
            </a>
            
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/procedure">Procedure</a></li>
                <li><a href="/pricelist">Pricelist</a></li>

                {{#if user}}
                    <li>
                        <a class="dropdown-trigger" href="#" data-activates="dropdown1">
                            Hi {{user.name}} <i class="fas fa-caret-down"></i>
                        </a>
                    </li>
                {{else}}
                    <li><a href="/auth/login">Log In</a></li>
                    <li><a href="/auth/signup">Sign Up</a></li>
                {{/if}}
                
            </ul>

            <ul id="main-menu" class="side-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/procedure">Procedure</a></li>
                <li><a href="/pricelist">Pricelist</a></li>
                <li><a href="/auth/login">Log In</a></li>
                <li><a href="/auth/signup">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/user/dashboard">Dashboard</a></li>
    <li class="divider"></li>
    <li><a href="/auth/logout">Log Out</a></li>
</ul>
