{{!-- Header --}}
<nav class="yellow accent-4">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">OctoLab</a>
            <a href="#" data-activates="main-menu" class="button-collapse">
                <i class="fas fa-bars"></i>
            </a>
            
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/procedure">Procedure</a></li>
                <li><a href="/pricelist">Pricelist</a></li>
                <li><a href="/user/login">Log In</a></li>
                <li><a href="/user/signup">Sign Up</a></li>
            </ul>

            <ul id="main-menu" class="side-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/procedure">Procedure</a></li>
                <li><a href="/pricelist">Pricelist</a></li>
                <li><a href="/user/login">Log In</a></li>
                <li><a href="/user/signup">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>