doctype html
html(lang="en")
    head
        title Work Space
        //- Bootstrap
        link(rel="stylesheet", href="/css/bootstrap.css")
        //- Bootstrap Datepicker
        link(rel="stylesheet", href="/css/datepicker.css")        
        //- Font-Awesome
        link(rel="stylesheet", href="/css/font-awesome.css")
        //- Custom
        link(rel="stylesheet", href="/css/style.css")
        //- Scrollbar Custom CSS
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css")

    body
        block content
            
        
        //- jQuery
        script(src="/js/jQuery-1.12.4.js")
        //- Bootstrap
        script(src="/js/bootstrap.js")
        //- Bootstrap Datepicker
        script(src="/js/bootstrap-datepicker.js")        
        //- Custom Scroller Js CDN
        script(src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js")
        //- Custom javascript
        script(src="/js/custom.js")
        