doctype html
html(lang="en")
    head
        title Work Space
        //- Bootstrap
        link(rel="stylesheet", href="/css/bootstrap.css")
        //- Font-Awesome
        link(rel="stylesheet", href="/css/font-awesome.css")
        //- Custom
        link(rel="stylesheet", href="/css/style.css")

    body
        block content
            
        
        //- jQuery
        script(src="/js/jQuery-1.12.4.js")
        //- Bootstrap
        script(src="/js/bootstrap.js")