/* ===== GENERAL ===== */
/* =================== */
.main-color {
    background-color: #FF8F00;
    color: white
}

body {
    /* background-color: #FF8F00; */
    overflow-x: hidden;
    font-family: Helvetica, Arial, sans-serif;
}
/* /end general */

/* ===== NAVIGATION ===== */
/* ====================== */
.navbar {
    box-shadow: 0px 0px 2px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.navbar-default {
    background-color: #FF8F00;
    border-color: white;
  }
  .navbar-default .navbar-brand {
    color: white;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: white;
    background-color: transparent;
  }
  .navbar-default .navbar-text {
    color: white;
  }
  .navbar-default .navbar-nav > li > a {
    color: white;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: white;
  }
  .navbar-default .navbar-nav > .disabled > a,
  .navbar-default .navbar-nav > .disabled > a:hover,
  .navbar-default .navbar-nav > .disabled > a:focus {
    color: white;
    background-color: transparent;
  }
  .navbar-default .navbar-toggle {
    /* border-color: white; */
    border: none;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    /* background-color: white; */
    background: transparent;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: white;
  }
  @media (max-width: 767px) {
    .navbar {
        font-size: 14px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: white;
      background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: white;
      background-color: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: white;
      background-color: transparent;
    }
  }
  .navbar-default .navbar-link {
    color: white;
  }
  .navbar-default .navbar-link:hover {
    color: white;
  }
  .navbar-default .btn-link {
    color: white;
  }
  .navbar-default .btn-link:hover,
  .navbar-default .btn-link:focus {
    color: white;
  }
  .navbar-default .btn-link[disabled]:hover,
  fieldset[disabled] .navbar-default .btn-link:hover,
  .navbar-default .btn-link[disabled]:focus,
  fieldset[disabled] .navbar-default .btn-link:focus {
    color: white;
  }
/* /end navigation */

/* ======= FOOTER ======= */
/* ====================== */
#footer {
  margin-bottom: 0;
  padding: 5vh;
  text-align: center;
  border-radius: 0;
  box-shadow: none
}
/* /end footer */

/* ===== LANDING-PAGE MAIN ===== */
/* ============================= */
/* Landing-page Header */
.landing-header {
  /* position: relative; */
  height: 100vh;
}

.landing-header .row {
  vertical-align: middle;
  margin: 10rem 0;
}

.landing-header .main-title {
  text-align: center;
}

.main-title {
  font-family: Helvetica, Arial, sans-serif;
  /* line-height: 40px !important; */
}

.main-title h1 {
  font-size: 3.5vw;
  font-weight: bold;
}

.main-title h4 {
  font-size: 2vw;
  font-weight: bold;
}

.btn-action {
  color: #fff;
  background-color: #FF8F00;
  /* border-color: #2e6da4; */
  box-shadow: black 0px 1px 3px;
}
.btn-action:focus,
.btn-action.focus {
  color: #fff;
  background-color: #FF6F00;
  /* border-color: #122b40; */
}
.btn-action:hover {
  color: #fff;
  background-color: #FF6F00;
  transition-duration: 1s;
  /* border-color: #204d74; */
}
.btn-action:active,
.btn-action.active,
.open > .dropdown-toggle.btn-action {
  color: #fff;
  background-color: #FF6F00;
  /* border-color: #204d74; */
}
.btn-action:active:hover,
.btn-action.active:hover,
.open > .dropdown-toggle.btn-action:hover,
.btn-action:active:focus,
.btn-action.active:focus,
.open > .dropdown-toggle.btn-action:focus,
.btn-action:active.focus,
.btn-action.active.focus,
.open > .dropdown-toggle.btn-action.focus {
  color: #fff;
  background-color: #FF6F00;
  /* border-color: #122b40; */
}
.btn-action:active,
.btn-action.active,
.open > .dropdown-toggle.btn-action {
  background-image: none;
}
.btn-action.disabled:hover,
.btn-action[disabled]:hover,
fieldset[disabled] .btn-action:hover,
.btn-action.disabled:focus,
.btn-action[disabled]:focus,
fieldset[disabled] .btn-action:focus,
.btn-action.disabled.focus,
.btn-action[disabled].focus,
fieldset[disabled] .btn-action.focus {
  background-color: #FF6F00;
  /* border-color: #2e6da4; */
}

.main-image img {
  display: block;
  margin: auto;
  width: 60%;
}


/* /end landing-page main */
#about, #partner, #contact-us {
  text-align: center;
  padding: 50px 0px;
}

.subtitle {
  font-size: 3.5vw;
  font-weight: bold;
}

#about p, #partner p, #contact-us p {
  font-size: 2vw;
  /* font-weight: bold; */
}

#partner {
  min-height: 100vh;
}

/* #contact-us {
  min-height: 100vh;
} */

/* /end of lending-page */

/* ======= SIGNUP | SIGNIN ======= */
/* =============================== */
#signup, #signin {
  margin-top: 5%;
}

#signup p, #signin p {
  text-align: center
}

span.error {
  display: block;
  margin-bottom: 5px
}

/* /end signup | signin */